.login-Container{
    width: 500px;
    margin: 0  auto;
    text-align: center;
}
.login-wrapper{
    border: 1px solid gray;
    margin-top: 5rem;
    padding: 3rem;
}
.login-wrapper>input{
border: none;
width: 90%;
border-bottom: 1px solid gray;
padding: 7px;
}
.forgetPassword{
    margin-left: 110px;
    color: orange; 
    
}
a{
    text-decoration: none;
}
.create-acc{
    color: #F9A51A; 
    margin-left: 40px;

}
.login-btn{
    width: 90%;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    background-color: orange;
    border: none;
}